:root {
  --bg-color-1: #000;
  --text-color-1: white;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  background-color: var(--bg-color-1);
  color: var(--text-color-1);
}

a {
  color: inherit;
}

hr {
  width: 100%;
  height: 1px;
  background: lightgrey;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  margin: 0.4rem;
  background: #4c81eb;
  color: white;
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 8px;
}

button:hover {
  background: #154bb6;
}
